<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <!--<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>-->
  </configSections>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Error,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="NewListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Error,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="NewListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\ThermoFisher\projects\Mneme\Apps\DiagramDesigner\app_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="NewListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <!--<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ComponentNode" type="Workflow.Data.ComponentNode, Workflow.Data"/>
   
    <container name="ProcessJobLocator">
      <register type="ComponentNode" name="StartupComponentNode" mapTo="Mneme.Components.StartupComponentNode, Mneme.Components"/>
      <register type="ComponentNode" name="TreeTopNode" mapTo="Mneme.Components.TreeTopNode, Mneme.Components"/>
      <register type="ComponentNode" name="IsotopicSearchNode" mapTo="Mneme.Components.IsotopicSearchNode, Mneme.Components"/>
      <register type="ComponentNode" name="MMDFFilterNode" mapTo="Mneme.Components.MMDFFilterNode, Mneme.Components"/>
      <register type="ComponentNode" name="GroupNode" mapTo="Mneme.Components.GroupNode, Mneme.Components"/>
      <register type="ComponentNode" name="BatchNode" mapTo="Mneme.Components.BatchNode, Mneme.Components"/>
      <register type="ComponentNode" name="ReportNode" mapTo="Mneme.Components.ReportNode, Mneme.Components"/>
      <register type="ComponentNode" name="PMFNode" mapTo="Mneme.Components.PMFNode, Mneme.Components"/>
      <register type="ComponentNode" name="HelloWorldNode" mapTo="Mneme.Components.HelloWorldNode, Mneme.Components"/>
      <register type="ComponentNode" name="TraceBuldNode" mapTo="Mneme.Components.TraceBuldNode, Mneme.Components"/>
      <register type="ComponentNode" name="PeakAnnotationNode" mapTo="Mneme.Components.PeakAnnotationNode, Mneme.Components"/>
      <register type="ComponentNode" name="ProcessHolderNode" mapTo="Mneme.Components.ProcessHolderNode, Mneme.Components"/>
      <register type="ComponentNode" name="PeakDiscoverNode" mapTo="Mneme.Components.PeakDiscoverNode, Mneme.Components"/>
     </container>
  </unity>-->

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <connectionStrings>
    <!--<add name="wfPersistence" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Initial Catalog=Persistence;Integrated Security=True;Async=true"/>-->
  </connectionStrings>
  <appSettings>
    <add key="TestNewIdea" value="true"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TcpBinding" maxReceivedMessageSize="102400000" openTimeout="00:00:05" closeTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="163840000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="BasicBehavior">
          <dataContractSerializer maxItemsInObjectGraph="262144"/>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization impersonateCallerForAllOperations="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
<!--//connect to cyclotron-->
    <!--http://social.msdn.microsoft.com/Forums/en-US/wcf/thread/90ab4603-804a-43a1-a703-c0fb6a12ee41/-->
    <!--<client>
      <endpoint name="processingServiceEndpoint"
                address="net.tcp://cyclotron:9000/ProcessEngineService"
                binding="netTcpBinding"
                bindingConfiguration="TcpBinding"
                contract="Workflow.Data.Interfaces.IProcessingService">
        <identity>
          <servicePrincipalName value="ProcessEngineService/cyclotron"/>
        </identity>

      </endpoint>
      <endpoint name="rawDatabaseSummaryServiceEndpoint"
                 address="net.tcp://cyclotron:9000/RawDataManagerService"
                binding="netTcpBinding"
                bindingConfiguration="TcpBinding"
                contract="Mneme.Data.Interfaces.IRawDataSummary">
        <identity>
          <servicePrincipalName value="RawDataManagerService/cyclotron"/>
        </identity>
        
      </endpoint>

    </client>-->
<!--connect to localhost-->
    <!--<client>
      <endpoint name="processingServiceEndpoint"
                address="net.tcp://localhost:9033/ProcessEngineService"
                binding="netTcpBinding"
                bindingConfiguration="TcpBinding"
                contract="Workflow.Data.Interfaces.IProcessingService">

      </endpoint>
      <endpoint name="rawDatabaseSummaryServiceEndpoint"
                 address="net.tcp://localhost:9033/RawDataManagerService"
                binding="netTcpBinding"
                bindingConfiguration="TcpBinding"
                contract="Mneme.Data.Interfaces.IRawDataSummary">
      </endpoint>

    </client>-->
  </system.serviceModel>

  <!--<system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="Workflow.Data.ProcessJob, Workflow.Data">
          <knownType type="Mneme.Data.MnemeSampleJob,  Mneme.Data"/>
        </add>
        <add type="Workflow.Data.ProcessBatch, Workflow.Data">
          <knownType type="Mneme.Data.MnemeBatch,  Mneme.Data"/>
        </add>
        <add type="Workflow.Data.ComponentNode, Workflow.Data">
          <knownType type="Mneme.Components.ClientComponentNode,  Mneme.Components"/>
          <knownType type="Mneme.Components.StartupComponentNode,  Mneme.Components"/>
          <knownType type="Mneme.Components.GroupComponentNode,  Mneme.Components"/>
          <knownType type="Mneme.Components.BatchComponentNode,  Mneme.Components"/>
          <knownType type="Mneme.Components.TreeTopNode,  Mneme.Components"/>
          <knownType type="Mneme.Components.IsotopicSearchNode,  Mneme.Components"/>
          <knownType type="Mneme.Components.MMDFFilterNode,  Mneme.Components"/>
          <knownType type="Mneme.Components.GroupNode,  Mneme.Components"/>
          <knownType type="Mneme.Components.BatchNode,  Mneme.Components"/>
          <knownType type="Mneme.Components.ReportNode,  Mneme.Components"/>
          <knownType type="Mneme.Components.PMFNode,  Mneme.Components"/>
          <knownType type="Mneme.Components.HelloWorldNode,  Mneme.Components"/>
          <knownType type="Mneme.Components.TraceBuldNode,  Mneme.Components"/>
          <knownType type="Mneme.Components.PeakAnnotationNode,  Mneme.Components"/>
          <knownType type="Mneme.Components.ProcessHolderNode,  Mneme.Components"/>
          <knownType type="Mneme.Components.PeakDiscoverNode,  Mneme.Components"/>
        </add>

      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>-->

</configuration>
