<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    
    <!--<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>-->
  </configSections>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="NewListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="NewListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\ThermoFisher\Mneme\Server\Mneme.WinService\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="NewListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <!--<connectionStrings>
    --><!--for julin-l7 local computer--><!--
    --><!--<add name="MnemeRawDataEntities" connectionString="metadata=res://*/MnemeRawData.csdl|res://*/MnemeRawData.ssdl|res://*/MnemeRawData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ussjo-julin-L7\SQLEXPRESS;initial catalog=MnemeRawData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--
    --><!--for jlin-pc local computer--><!--
    --><!--<add name="MnemeRawDataEntities" connectionString="metadata=res://*/MnemeRawData.csdl|res://*/MnemeRawData.ssdl|res://*/MnemeRawData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ussjo-jlin-pc\SQLEXPRESS;initial catalog=MnemeRawData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--

    --><!--for ussjo-julin-l7\mneme computer--><!--
    <add name="MnemeRawDataEntities" connectionString="metadata=res://*/MnemeRawData.csdl|res://*/MnemeRawData.ssdl|res://*/MnemeRawData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ussjo-julin-l7\mneme;initial catalog=MnemeRawData;user id=mneme;password=mneme;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>-->

  <!--<log4net>
    
  This writes the log information to the console window.  It only logs events3
  that are at least at the INFO level (which would mean that DEBUG events are not
  captured.
  
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newlineExtra Info: %property{testProperty}%newline%exception"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <appender name="FireEventAppender" type="Mneme.LogService.FireEventAppender"></appender>
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="100" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="data source=localhost\mneme;initial catalog=MnemeRawData;integrated security=false;persist security info=True;User ID=mneme;Password=mneme" providerName="System.Data.SqlClient"/>
    <commandText value="INSERT INTO [RawData].[Log] ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
    <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%thread" />
        </layout>
    </parameter>
    <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%level" />
        </layout>
    </parameter>
    <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%logger" />
        </layout>
    </parameter>
    <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%message" />
        </layout>
    </parameter>
    <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
</appender>
                       
    <root>
      <level value="ALL" />
      <appender-ref ref="FireEventAppender" />
      <appender-ref ref="AdoNetAppender" />
    </root>

  </log4net>-->

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TcpBinding" maxReceivedMessageSize="102400000" openTimeout="00:00:05" closeTimeout="00:00:05" receiveTimeout="23:00:00" sendTimeout="00:00:30">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="163840000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="acquisitionAndProcessBehaviorCfg">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <workflowUnhandledException action="Terminate" />
          <!--<sqlWorkflowInstanceStore
               connectionStringName="wfPersistence"
               instanceEncodingOption="None"
               instanceCompletionAction="DeleteAll"
               instanceLockedExceptionAction="BasicRetry"
               hostLockRenewalPeriod="00:00:05"
               runnableInstancesDetectionPeriod="00:00:10"/>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
<!--address="net.tcp://localhost:9000/ProcessEngineService"-->
    <!--address="net.tcp://10.209.51.127:9000/RawDataManagerService"-->
    <services>
      <service name="Mneme.WinService.ProcessEngineService">
        <endpoint address="net.tcp://localhost:9033/ProcessEngineService" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Workflow.Data.Interfaces.IProcessingService" />
      </service>
      <service name="Mneme.WinService.RawDataManagerService">
        <endpoint address="net.tcp://localhost:9033/RawDataManagerService" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Mneme.Data.Interfaces.IRawDataSummary" />
      </service>
    </services>

    <protocolMapping>
      <add scheme="http" binding="wsHttpContextBinding" />
    </protocolMapping>
    <diagnostics>
      <messageLogging maxMessagesToLog="100" logEntireMessage="true" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true">
      </messageLogging>
    </diagnostics>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
