<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TcpBinding" maxReceivedMessageSize="102400000" openTimeout="00:00:05" closeTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="163840000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="BasicBehavior">
          <dataContractSerializer maxItemsInObjectGraph="262144" />
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization impersonateCallerForAllOperations="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <client>
      <!-- change the ip address to localhost if -->
      <endpoint name="processingServiceEndpoint" address="net.tcp://cyclotron:9000/ProcessEngineService" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Workflow.Data.Interfaces.IProcessingService">
        <identity>
          <servicePrincipalName value="ProcessEngineService/cyclotron" />
        </identity>

      </endpoint>
      <endpoint name="rawDatabaseSummaryServiceEndpoint" address="net.tcp://cyclotron:9000/RawDataManagerService" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Mneme.Data.Interfaces.IRawDataSummary">
        <identity>
          <servicePrincipalName value="RawDataManagerService/cyclotron" />
        </identity>
        <!--http://social.msdn.microsoft.com/Forums/en-US/wcf/thread/90ab4603-804a-43a1-a703-c0fb6a12ee41/-->
      </endpoint>

    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>